@import '../../App.scss';

.home-page{ 
    .text-zone { 
        position: absolute; 
        align-content: center;
        left: 10%; 
        top: 50%; 
        transform: translateY(-50%); 
        width: 40%; 
        max-height: 90%; 
        display: absolute;
    }
    h1{
        color: $sjsu-blue; 
        font-size: 60px; 
        margin: 0; 
        font-weight: 600; 
        cursor: pointer;

        &::before { 
            color: $sjsu-gold; 
            position: absolute; 
            margin-top: -40px; 
            left: 15px; 
            opacity: 0.6; 
        }

        &::after { 
            color: $sjsu-gold; 
            position: absolute; 
            margin-top: 18px; 
            left: 20px; 
            animation: fadeIn 1s 1.7s backwards; 
            opacity: 0.6; 
        }
    }

    h2 { 
        color: $dark-gray; 
        margin-top: 20px; 
        font-weight: 400; 
        font-size: 14px; 
        letter-spacing: 2px; 
        animation: fadeIn 1s 1.8s backwards; 
    }

    .flat-button { 
        border: none;
        color: $white;
        background: $sjsu-blue;
        border: 2px solid $sjsu-blue;
        border-radius: 5px;
        font-family: inherit;
        font-size: 20px;
        text-align: center;
        padding: 0.6em 1.5em;
        white-space: nowrap;
        text-decoration: none;
        margin-top: 25px; 
        float: left; 
        white-space: nowrap; 
        width: 200px;
        transition: all 0.3s ease-out;
        
        &:hover { 
            background: $white;
            color: $sjsu-blue;
        }
    }
}

@media screen and (max-width: 1580px){
    .home-page{
        h1{
            font-size: 50px;
        }
    }
}
@media screen and (max-width: 1320px){
    .home-page{
        h1{
            font-size: 40px;
        }
    }
}
@media screen and (max-width: 1150px){
    .home-page{
        h1{
            font-size: 29px; 
            justify-content: center;
            letter-spacing: 0.5px; 
        }
        .text-zone{
            position: initial;
            width: 100%; 
            transform: none;
            padding: 10px;
            box-sizing: border-box;
            display: inline-block;
            text-align: left;
            margin-left: 20px;
        }
        h2 {
            font-size: 12px;
        }

        .logo-container {
            position: relative; 
            width: 200px;
            height: auto; 
            right: 0; 
            box-sizing: border-box; 
            margin: auto; 
            left: 0; 
        }

        .flat-button{
            float: none;
            display: block;
            // width: 125px;
        }
    }
}